@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --pr: slategray; /* Default light mode text */
    --sd: lightgray; /* Default light mode text */
}

body[data-theme="dark"] {
    --bg: #1a1a1a;
    --tx: #cdcdcd;
}

body[data-theme="light"] {
    --bg: #eaeaea;
    --tx: #1a1a1a;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: var(--bg);
        color: var(--tx);
    }
}

html {
  font-size: 64.5%;

  ::-moz-selection { /* Code for Firefox */
  color: #170328;
  background: #74929f;
}

  ::selection {
  color: #170328;
  background: #bef286;
}
}

body {
  font-family: "Fira Mono", monospace;
  font-size: 1.6rem;
  background-color: var(--bg);
  color: var(--tx);
}


body a {
  color: var(--pg);
}

body a:hover {
  color: var(--pg);
  transition: .2s;
}

header * {
    display: flex;
}

header {
  height: 50px;
  padding-bottom: 2em;
  /* border-bottom: solid .1px currentColor; */
}

nav {
  padding-top: 2em;
  float: right;
  gap: 1em;
}

nav a {
  color: currentColor;
  font-size: 1.3em;
  text-decoration: none;
}

button {
  padding-left: 1em;
  cursor: pointer;
  outline: none;
  background: none;
  border: none;
  color: currentColor;
}

#social {
  text-align: center;
  padding-top: 1em;
}

.icon {
      font-size: 40px; /* Set desired size */
      color: currentColor; /* Set desired color */
      transition: transform 0.2s;
      text-decoration: none; /* Remove underline */
}

#projects {
  display: grid;
  grid-template-columns: 49% 49%;
  gap: 4% 2%;
  margin-top: 2em;
  margin-bottom: 2em;
}

.grid-item-container {
  border-radius: 10px;
  background: rgb(126,105,135);
  background: linear-gradient(90deg, rgba(126,105,135,1) 0%, rgba(66,99,142,1) 49%, rgba(70,140,131,1) 100%); 
  padding: 2px;
}

.grid-item {
  background-color: var(--bg);
  border-radius: 8px;
  text-align: center;
  padding: 10px;
  margin-bottom: 1em;
  height: 80%;

  min-height: 160px;
}

footer h1 {
  margin-top: 2em;
  text-align: center;
  color: var(--sd);
}

h1 {
  font-size: 2.4rem;
}
h2 {
  font-size: 2rem;
}
li a {
  color: slategray;
}
article .header {
  font-size: 1.4rem;
  font-style: italic;
  color: #555;
}
.logo a {
  padding-top: 0.6em;
  color: #aed168;
  text-decoration: none;
}

@media (max-width: 319px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
  footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
}

@media (min-width: 320px) {
  body {
    width: 90%;
    margin: 0;
    padding: 0 5%;
  }
   footer {
    text-align: center;
  }
  .logo {
    text-align: center;
    margin: 1rem auto 3rem;
  }
  .logo a {
    font-size: 2.4rem;
  }
}

@media (min-width: 800px) {
  body {
    width: 70rem;
    margin: 0 auto;
    padding: 0;
  }
  footer {
    text-align: right;
  }
  .logo {
    margin: 0;
    text-align: left;
  }
  .logo a {
    float: left;
    font-size: 1.8rem;
  }
}
