/* Default styles */
body {
    background-color: rgb(var(--color-bg-body, 255, 255, 255)); /* Fallback to white */
    color: rgb(var(--color-text, 0, 0, 0)); /* Fallback to black */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

/* Theme styles */
body[data-theme="dark"] {
    --color-bg-body: 21, 21, 21;
    --color-text: 206, 206, 206;
}

body[data-theme="light"] {
    --color-bg-body: 57, 76, 66;
    --color-text: 255, 255, 255;
}

body[data-theme="system"] {
    --color-bg-body: 82, 179, 201;
    --color-text: 0, 43, 77;
}

/* Additional styles */
h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}

