<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>$title$</title>
        <link rel="stylesheet" type="text/css" href="/css/app.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div id="header">
            

            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/contact.html">Contact</a>
                <a href="/archive.html">Archive</a>
                <a href="/nft.html">NFT</a>
            </div>
        </div>
        
        <div id="content-wrapper">
            <div id="content">
                <h1 id="title">
                    $title$
                </h1>            
                $body$
            </div>
        </div>
        
        <div id="footer">
            <p>This site is built using open source software:
                <a href="http://jaspervdj.be/hakyll">Hakyll</a>
                <a href="http://gimp.org">GIMP</a></p>
            <p>EOAAOU 2O23</p>
        </div>
    </body>
</html>

